<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results | TravelEaZ</title>

    <link rel="stylesheet" href="css/search.css">

</head>

<body>

    <header>

        <nav class="navbar">

            <a href="/" class="logo">
                <h1>TravelEaZ</h1>
            </a>

            <a href="/">← Back to Home</a>

        </nav>

    </header>

    <section class="results">

        <h1>Search Results</h1>

        <p class="route">
            Kolkata → Delhi
        </p>

        <p class="date">
            12 August 2026
        </p>


        <div class="card">

            <div class="left">

                <h2>Express Bus</h2>

                <p>Rating: 4/5</p>

                <p><strong>Departure:</strong> 8:00 AM</p>

                <p><strong>Arrival:</strong> 4:00 PM</p>

                <p><strong>Duration:</strong> 8 Hours</p>

            </div>

            <div class="right">

                <h3>₹799</h3>

                <p>Seats Left: 15</p>

                <a href="/bus-booking" class="select-btn">Select Seats</a>

            </div>

        </div>


        <div class="card">

            <div class="left">

                <h2>Rajdhani Express</h2>

                <p>Rating: 3/5</p>

                <p><strong>Departure:</strong> 9:30 PM</p>

                <p><strong>Arrival:</strong> 6:30 AM</p>

                <p><strong>Duration:</strong> 9 Hours</p>

            </div>

            <div class="right">

                <h3>₹1450</h3>

                <p>Seats Left: 40</p>

                <a href="/train-booking" class="select-btn">Select Seats</a>

            </div>

        </div>


        <div class="card">

            <div class="left">

                <h2>Premium Sleeper Bus</h2>

                <p>Rating: 5/5</p>

                <p><strong>Departure:</strong> 10:30 PM</p>

                <p><strong>Arrival:</strong> 7:00 AM</p>

                <p><strong>Duration:</strong> 8.5 Hours</p>

            </div>

            <div class="right">

                <h3>₹999</h3>

                <p>Seats Left: 9</p>

                <a href="/bus-booking" class="select-btn">Select Seats</a>

            </div>

        </div>

    </section>
    <script src="js/search.js"></script>

</body>

</html>