
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f5f7fa;
    color:#333;
}


header{
    width:100%;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:100;
}

.navbar{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo h1{
    color:#0066ff;
    font-size:30px;
    font-weight:700;
    text-decoration: none;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:#0066ff;
}

.signup-btn{
    background:#0066ff;
    color:rgb(255, 255, 255);
    padding:10px 20px;
    border-radius:6px;
}

.signup-btn:hover{
    background:#0052cc;
}


.main{
    height:90vh;

    background:
    linear-gradient(rgba(0,0,0,.45),
    rgba(0,0,0,.45)),
    url("../images/main.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
}

.main-content{
    width:80%;
}

.main h1{
    font-size:55px;
    margin-bottom:20px;
}

.main p{
    font-size:20px;
    margin-bottom:40px;
}


.search-box{

    background:white;

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:15px;

    padding:25px;

    border-radius:12px;

    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

.search-box input{

    padding:15px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

    outline:none;

}

.search-btn{

    border:none;

    text-decoration:none;
    
    background:#ff6b00;
    
    color:white;
    
    font-size:18px;
    
    border-radius:8px;
    
    cursor:pointer;
    
    transition:.3s;
    
}

.search-btn:hover{
    
    background:#e65c00;
    
}
.get-btn{    
    
    border:none;
    
    text-decoration:none;

    background:#3dc5fb;

    color:white;

    font-size:18px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.get-btn:hover{

    background:#1aa3e0;

}

.routes{

    width:90%;

    margin:80px auto;

}

.routes h2{

    text-align:center;

    margin-bottom:40px;

    font-size:35px;

}

.route-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

.route-card{

    background:white;

    padding:35px;

    text-align:center;

    border-radius:12px;

    box-shadow:0 8px 20px rgba(0,0,0,.1);

    transition:.3s;

}

.route-card:hover{

    transform:translateY(-10px);

}

.route-card h3{

    margin-bottom:15px;

}

.route-card p{

    color:#666;

}


.features{

    background:#eef5ff;

    padding:80px 0;

}

.features h2{

    text-align:center;

    margin-bottom:50px;

    font-size:35px;

}

.feature-container{

    width:90%;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

.feature-card{

    background:white;

    padding:35px;

    text-align:center;

    border-radius:12px;

    box-shadow:0 8px 20px rgba(0,0,0,.1);

    transition:.3s;

}

.feature-card:hover{

    transform:translateY(-10px);

}

.feature-card h3{

    margin-bottom:20px;

}

.feature-card p{

    color:#666;

    line-height:1.6;

}

footer{

    background:#1d1d1d;

    color:white;

    text-align:center;

    padding:25px;

}


@media(max-width:992px){

    .search-box{

        grid-template-columns:1fr 1fr;

    }

    .route-container{

        grid-template-columns:1fr 1fr;

    }

    .feature-container{

        grid-template-columns:1fr 1fr;

    }

}

@media(max-width:768px){

    .navbar{

        flex-direction:column;

        gap:20px;

    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

    }

    .main h1{

        font-size:38px;

    }

    .main p{

        font-size:17px;

    }

    .search-box{

        grid-template-columns:1fr;

    }

    .route-container{

        grid-template-columns:1fr;

    }

    .feature-container{

        grid-template-columns:1fr;

    }

}